NODE_ENV=production
HOST=127.0.0.1
PORT=20808
PULZZ_STATE_PATH=/opt/pulzz-hotupdate/data/state.json
HOTUPDATE_MANIFEST_URL=https://cdn.kaukei.icu/hotupdate/latest.json
PUBLIC_API_HOST=api.kaukei.icu
DEPLOY_ROOT=/opt/pulzz-hotupdate
